
html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.herbtn{
    background-color: #c4c6c4; 
    border: none;
    color: white;
    padding: 2rem 6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

strong{
    font-weight: bold;
}
/* a{
    text-decoration: none;
    color: inherit;
} */
h2{
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    font-weight: bold;
}


ul{
    list-style-type: none;

}
ul a{
    text-decoration: none;
    color: inherit;
}
.mobile{
    display: none;
}

header .desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: row;
}
header li{
    display: inline;
    padding-right: 1rem;
}
  
header li:last-child {
    padding-right: 0;
}
header .logo{
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    background-color: rgb(182, 180, 180);
}
  
.heroimg {
    flex: 60%;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
.banner_textbox {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_textbox h2{
    font-size: 3.4rem;
}
.banner_textbox p{
    font-size: 1.5rem;
}

.contentbig{
    display: flex;
    flex-direction: row;
}
.main_content{
    display: flex;
    flex: 60%;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;

}
.contentsupport{
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding-top: 16px;

    
}
.contentsupport a{
    color: aqua;

}
.content_card{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 16px;
    justify-content: space-between;
}
.contentimg {
    width: 35%;
    height: auto;
}
.textcard{
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    width: 65%;
    text-align: left;


}
.textcard h3{
    font-size: 2rem;
    font-weight: bold;
}
.textcard p{
    font-size: 1rem;
}
.main_content h2{
    padding-bottom: 24px;
    

}

#learning {
    padding-bottom: 16px;
    background-color: #c4c6c4;
  }
  
#learning h1 {
    font-size: 2rem;
    padding: 32px 0 16px 0;
    text-align: center;
  }
  
#learning h2 {
    font-size: 1.5rem;
    margin: 16px 0;
  }
  
#learning h3 {
    font-size: 1rem;
    margin: 8px 0;
  }
  
.holder-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
  }
  
.holder-course {
    width: 30%;
    margin: 16px;
    padding-bottom: 24px;
  }
  
.holder-course-txt {
    padding: 16px 16px;
  }
  
.holder-course-img {
    width: 100%;
    height: auto;
  }
  
.course-img {
    width: 100%;
    height: auto;
  }
.lastbox{
    display: flex;
    flex-direction: row;
    
}
.lastbox_container{
    display: flex;
    flex-direction: row;
}
.lastbox_container1{
    display: flex;
    flex: 60%;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;

}
.lastbox_container1 video{
    width: 100%;
}
.lastbox_card{
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding-top: 32px;
}
.cardbox2{
    display: flex;
    flex-direction: row;
}
footer{
    background-color: white;
    border-top: 1px solid #01161E;
    display: flex;
    justify-content: space-between;
    position:relative;    
    top: 4rem;
    width: 100%;
    padding-left: 16px;
}
@media screen and (max-width:768px){
    .desktop{
        padding-left: 0;
        padding-right: 0;
    }
    .logo img {
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .mobile img{
        width: 29px;
    }

    .desktop span, .desktop ul ,.logo{
        display: none;
    }
    .desktop{
        display: none;
        
    }
}